.dark-color {
    background-color: #404E67 !important;
}

.grey{
    color: grey;
}

.orange-left{
    border-left: 3px solid orangered;
}

.orangegradient{
     background: linear-gradient(to right, rgba(255,69,0,0.5), rgba(255,69,0,0.2));
}

.bgorange {
    background: linear-gradient(to right, rgba(255, 69, 0, 0.7), rgba(255, 69, 0, 0.3));
}

.bggreen {
    background: linear-gradient(to right, rgba(0, 255, 0, 0.7), rgba(0, 255, 0, 0.3));
}

.bgred {
    background: linear-gradient(to right, rgba(128, 0, 0, 0.7), rgba(128, 0, 0, 0.3));
}

.bgblue {
    background: linear-gradient(to right, rgba(0, 0, 255, 0.7), rgba(0, 0, 255, 0.3));
}
.bgwhite{
    background-color:white;
}
.bggrey{
    background-color: rgba(128, 128, 128, 0.2);
}

.blank{
    height: 250px !important;
}
.green-blank{
    height: 250px !important;
    background-color: rgba(0,255,0,0.4);
}
.greytext{
    color: grey;
}

.greytextfade{
    color: rgba(128, 128, 128, 0.3);
}
.white-blank{
    height: 150px !important;
    background-color: white;
}
.orange-blank{
    height: 100px !important;
}
.red-blank{
    height: 100px !important;
}
.blue-blank{
    height: 100px !important;
}

.green-color{
    background-color: #00FF00 !important;
}